# Node modules
node_modules/

# Environment variables (secrets)
config.env
.env
.env.*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# OS files
.DS_Store
Thumbs.db

# Editor configs
.vscode/
.idea/

# Coverage
coverage/

# Build / temp
dist/
build/
.tmp/
temp/
/.parcel-cache/
.cache/
.parcel-cache/
dist/